@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light only;
  }

  html,
  body,
  #root {
    height: 100%;
    margin: 0;
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
  }

  html,
  body {
    background-color: var(--seed-color-bg-layer-default);
    color: var(--seed-color-fg-neutral);
  }

  body {
    font-family: var(--app-font-family);
    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
  }

  input,
  textarea,
  [contenteditable='true'] {
    -webkit-user-select: text;
    user-select: text;
  }

  img,
  svg {
    -webkit-user-drag: none;
    user-drag: none;
  }
}
